# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# The following depend on your selected configuration
OPENAI_API_KEY=...

MILVUS_HOST=...
MILVUS_PORT=...
MILVUS_COLLECTION=...